.pic-2-1{
    background-image: url(/images/-uploaded-tour-Tour\ trong\ nuoc-Dong\ bang\ SCL-cantho_cho-noi-cai-rang_cr_420x270.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.pic-2-2{
    background-image: url(/images/at_ve-dep-tu-dinh-deo-mien-tay-bac_286ebc842bd9e9b2e04675fa779a086b.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.pic-2-3{
    background-image: url(/images/1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}

.com-2-1{
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 15px;
}

.link-2{
    color:black;
}
.link-2:hover{
    text-decoration: none;
}

.und{
    color: red;
    font-weight: bold;
}
.no-und{
    color:red;
}

.map-2{
    font-size: 13px;
    padding-left: 5px;
}

.button-2{
    margin-left: 280px;
}
.button-2-1{
    margin-left: 170px;
    
}
.button-2-2{
    margin-left: 390px;
}

.title-2{
    font-weight: bold;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -30px;
    font-size:18px;
     
}

.button-2-1-1{
    margin-left: 330px;
}

.main-2{
    width: 1500px;
}

.list-2{
    list-style: none;
    margin-top: 40px;
}
.button-2-3{
    margin-left: 100px;
}

.pic-2-2-1{
    background-image: url(/images/du-lich-tam-coc.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.pic-2-2-2{
    background-image: url(/images/275762154940.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.pic-2-2-3{
    background-image: url(/images/74485.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.tit-2-2-1{
    color:white;
    padding-top: 165px;
    font-size: 12px;
    padding-left: 10px;
    
}